<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <ul>
    	<li>Experianced with different web language such as Django, PHP, Node Js.</li>
    	<li>Strong analytics skill, Problem Solver, Flexible with different field  like  SDN, IOT, Web Language, Operating System tools.</li>
    	<li>Quick learner, ready to adopt new Technology</li>
    </ul>
    You can Download my <a href="/resume/subhash.pdf"><b>resume</b></a> here.
</div><!--//summary-->
</section><!--//section-->