 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.Tech in Computer Science with Minor in Management</h4>
    <h5 class="meta">Indian Instutute of Technology, Mandi (H.P.) India</h5>
    <div class="time">2012 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Intermediate in Mathematics</h4>
    <h5 class="meta">Gaya College, Gaya, Bihar (India)</h5>
    <div class="time">2009 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->