<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Position Of Responsibility</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Coordinator</h3>
                            <div class="time">May, 2014 – June, 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Space Technology and Astronomy Cell, IIT Mandi</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Served as the coordinator of Astronomy Club, IIT Mandi. The club is responsible for organizing many events such as Star gazing, workshops, etc. We have also started research section in field of Astronomy. </p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Coordinator</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Exodia (Cult-Tech Fest), IIT MANDI</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The Main responsibility as a web coordinator of Exodia’15 as to built a website for Fest and manage Server, Data and Application to promote Fest all over the India.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Coordinator</h3>
                            <div class="time">Sep 2012 May – 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">National Service Scheme, IIT MANDI</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Served as the Coordinator of NSS, IIT Mandi which was preceded by the role of co-coordinator from Sept, 2012 to Sept, 2014. Organized many events as blood donation camp, teaching students at orphanages, tree plantation program, etc. Also made Website for NSS and started Design and Publicity Section to increase creativity</p>
                </div><!--//item-->

                <h2 class="section-title"><i class="fa fa-bookmark"></i>Extra Curriculars</h2>
                
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Inter-IIT Sport Meet</a></span> - <span class="project-tagline">Represented IIT Mandi  as Hockey Player in 2012, 2013.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Teaching</a></span> - <span class="project-tagline">Social Service: Taught children of rural areas in an initiative by Prayas, IIT Mandi</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Inter-IIT Tech Meet</a></span> - <span class="project-tagline">Represented IIT Mandi in 2014, 2015 in Messier Marathon</span>
                </div><!--//item-->


            </section><!--//section-->