<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Course Projects</h2>
                <div class="intro">
                    <p>Project on which i worked during my Undergradute at Indian Institute of Technology Mandi</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#">Globalone</a></span> - <span class="project-tagline">Built an interactive organized photo base, which had features like upload images, buy/sell images, tag based auto complete search, like or dislike, paginated feeds.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Network traffic analyser</a></span> - 
                    <span class="project-tagline">CLI Tool to Monitor Network traffic and generate Graph.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Anti-collision System for blind turns</a></span> - <span class="project-tagline">Develop a Product to detect vehicles on both side of blind curve and prevent accident, Specially in Fog area. </br> This will give warning through light, sound or both based on weather condition.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Hotel/Canteen Ordering System</a></span> - <span class="project-tagline">Hotel Management System which has feature like Order food, book Table/Room, give rating to service, promotional offer and a Admin interface. </span>
                </div><!--//item-->
            </section><!--//section-->