<section class="section thesis-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Undergraduate Thesis</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Network Management in Software Defined Network</h3>
                            <div class="time">August, 2015 – June 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Supervisor: Prof. Timothy A. Gonsalves, Director, IIT Mandi</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>QoS Service and traffic Engineering in Home/Enterprise Network using Open-flow and SDN Concept and reliability in that System. Used Open-flow, Mininet, Pox (Python based Controller), Traffic Classification technique and QoS Policy.</p>
                        <ul>
                        	<li>The major problem in the project to be tackled is to provide <b>QoS and service priority</b> on per user choice.</li>
                        	<li><b>Different preference</b> option for different service for user.</li>
                        	<li>Easily deployable and controller running on cloud machine.</li>
                        	<li>Used SQL and Json for data parsing.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->